*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid black; */
}
html {
	background-color: var(--html-body);
	font-family: 'Audiowide', sans-serif;
	font-size: 62.5%;
	/* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
	min-height: 100vh;
	max-height: 100vh;
	caret-color: transparent;
	user-select: none;
}
body {
	font-size: 3rem;
	/* font-size: calc(1.5rem + 0.4vw); */
	/* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
	/* FONTSIZE - Adding the 0.4 is for responsivity */
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color:initial;
}
.btnShadow {
	cursor:pointer;
	box-shadow: 0.5px 0.5px 1px 0.5px var(--boxshadow);
	transition: box-shadow 0.1s;
}
.btnShadow:hover {
	box-shadow: 1px 1px 1px 1px var(--boxshadow);
}
.btnShadow:active {
	transform: translate3d(0.5px, 1px, 0);
}

:root {
	/*Light Mode*/
	--calc-outline: hsla(21, 43%, 65%, 1);
	--calc-body: hsla(24, 43%, 76%, 1);
	--button-body: #FFE8D6;
	--boxshadow: hsla(75, 10%, 40%, 1);
	--display-box: #B7B7A4;
	--display-border: #6B705C;
	--html-body: rgb(200, 200, 200);
	color: black;
}

[data-theme="dark"] {
	--calc-outline: rgb(0, 1, 40);
	--calc-body: #0d304b;
	--button-body: #104d67;
	--boxshadow: rgb(0, 1, 40);
	--display-box: #162457c1;
	--display-border: rgb(0, 1, 40);
	--html-body: rgb(40, 40, 40);
	color: rgb(0, 174, 255);
}
/* ---------------------------------------------------- */

#calculator{
	display: grid;
	/* grid-template-rows: 25px, 50px, repeat(5, auto-fill);
	grid-template-columns: repeat(4, auto-fill); */
	grid-template-areas:
		"logo logo logo lightdark"
		"mem mem mem mem"
		"dsp dsp dsp dsp"
		"clr dvd mlt mns"
		"seven eight nine plus"
		"four five six plus"
		"one two three equl"
		"zero zero dec equl";
	height: 68rem;
	width: 40rem;
	margin: 10rem auto;
	background-color: var(--calc-body);
	outline: 1rem solid var(--calc-outline);
	border-radius: 8px;
	gap: 1rem;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#memory{
	grid-area: mem;
	text-align: left;
	font-family: 'LCD', sans-serif;
	display: flex;
	justify-content: end;
	align-items: end;
	user-select: text;
	max-width: 38rem;
	min-height: 3.4rem;
	overflow: hidden;
}
#display{
	grid-area: dsp;
	font-family: 'LCD', sans-serif;
	font-size: 5.4rem;
	height: 9rem;
	width: 38rem;
	display:inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	display: flex;
	align-items: center;
	justify-content: end;
	align-self: center;
	user-select: text;
	padding-right: 5px;
	border: 1px solid var(--display-border);
	background-color: var(--display-box);
	/* background-color: #ADD8E6; */
	/* background-color: #87CEFA; */
}


#clr{
	grid-area: clr;
}
#dvd{
	grid-area: dvd;
	font-size: 5rem;
}
#mlt{
	grid-area: mlt;
	font-size: 5rem;
}
#mns{
	grid-area: mns;
	font-size: 5rem;
}
#plus{
	grid-area: plus;
	font-size: 5rem;
}
#equl{
	grid-area: equl;
	font-size: 5rem;
}
#zero{
	grid-area: zero;
}
#dec {
	grid-area: dec;
	font-size: 6rem;
}

#logo{
	grid-area: logo;
	height: min-content;
	font-size: 2rem;
}
#lightdark{
	grid-area: lightdark;
	height: min-content;
	font-size: 2rem;
	text-align: right;
	display: flex;
	justify-content: end;
}



/* KEYPAD BUTTON STYLING BELOW */
.keySq{
	width: 84px;
	height: 81px;
	background-color: var(--button-body);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.keyTall{
	height: 180px;
}
.keyWide{
	width: 180px;
}
/*------------------------------*/


/* DARKMODE TOGGLE */
.darkmode-wrapper {
	display: flex;
	align-items: center;
}
  .darkmode-switch {
	display: inline-block;
	height: 19px;
	position: relative;
	width: 60px;
  }  
  .darkmode-switch input {
	display:none;
  }  
  .slider {
	background-color: var(--calc-outline);
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .3s;
  }  
  .slider:before {
	background-color: var(--button-body);
	bottom: 4px;
	content: "";
	height: 12px;
	left: 4px;
	position: absolute;
	transition: .3s;
	width: 26px;
  }  
  input:checked + .slider {
	background-color: var(--calc-outline);
  }  
  input:checked + .slider:before {
	transform: translateX(26px);
  }  
  .slider.round {
	border-radius: 5px;
  }  
  .slider.round:before {
	border-radius: 5px;
  }
/*-----------------*/
/* ----: CHANGE: transition speed, colors, size