*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid black; */
}
html {
	background-color: rgb(200, 200, 200);
	font-family: 'Audiowide', sans-serif;
	font-size: 62.5%;
	/* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
	min-height: 100vh;
	max-height: 100vh;
	caret-color: transparent;
	user-select: none;
}
body {
	font-size: 3rem;
	/* font-size: calc(1.5rem + 0.4vw); */
	/* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
	/* FONTSIZE - Adding the 0.4 is for responsivity */
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color:initial;
}
.btnShadow {
	cursor:pointer;
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(50, 50, 50, 1);
	transition: box-shadow 0.1s;
}
.btnShadow:hover {
	box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(50, 50, 50, 0.5);
}
.btnShadow:active {
	transform: translate3d(0.5px, 1px, 0);
}

:root {
/* CSS HSL */
--antique-brass: hsla(21, 43%, 65%, 1);
--desert-sand: hsla(24, 43%, 76%, 1);
--champagne-pink: hsla(26, 100%, 92%, 1);
--ash-gray: hsla(60, 12%, 68%, 1);
--artichoke: hsla(60, 12%, 60%, 1);
--ebony: hsla(75, 10%, 40%, 1);
/* https://coolors.co/palette/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */
}
/* ---------------------------------------------------- */

#calculator{
	display: grid;
	/* grid-template-rows: 25px, 50px, repeat(5, auto-fill);
	grid-template-columns: repeat(4, auto-fill); */
	grid-template-areas:
		"logo logo logo lightdark"
		"mem mem mem mem"
		"dsp dsp dsp dsp"
		"clr dvd mlt mns"
		"seven eight nine plus"
		"four five six plus"
		"one two three equl"
		"zero zero dec equl";
	height: 64rem;
	width: 40rem;
	margin: 10rem auto;
	background-color: var(--desert-sand);
	outline: 1rem solid var(--antique-brass);
	border-radius: 2px;
	gap: 1rem;
	padding: 1rem;
}

#memory{
	grid-area: mem;
	text-align: left;
}
#display{
	grid-area: dsp;
	font-family: 'LCD', sans-serif;
	font-size: 9rem;
	height: 9rem;
	display: flex;
	align-items: center;
	justify-content: end;
	align-self: center;
	user-select: text;
	border: 1px solid #6B705C;
	background-color: #B7B7A4;
	/* background-color: #ADD8E6; */
	/* background-color: #87CEFA; */
}
#clr{
	grid-area: clr;
}
#dvd{
	grid-area: dvd;
}
#mlt{
	grid-area: mlt;
}
#mns{
	grid-area: mns;
}
#plus{
	grid-area: plus;
}
#equl{
	grid-area: equl;
}
#zero{
	grid-area: zero;
}
#logo{
	grid-area: logo;
	height: min-content;
}
#lightdark{
	grid-area: lightdark;
	height: min-content;
}



/* KEYPAD BUTTON STYLING BELOW */
.keySq{
	width: 84px;
	height: 81px;
	background-color: #FFE8D6;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
}
.keyTall{
	height: 180px;
}
.keyWide{
	width: 180px;
}