*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid black; */
}
html {
	background-color: rgb(200, 200, 200);
	font-family: 'Audiowide', sans-serif;
	font-size: 62.5%;
	/* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
	min-height: 100vh;
	max-height: 100vh;
	caret-color: transparent;
	user-select: none;
}
body {
	font-size: 3rem;
	/* font-size: calc(1.5rem + 0.4vw); */
	/* FONTSIZE TRICK-- 1 rem = 10 px here, usually 1 rem = 16px */
	/* FONTSIZE - Adding the 0.4 is for responsivity */
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color:initial;
}
.btnShadow {
	cursor:pointer;
	box-shadow: 0.5px 0.5px 1px 0.5px var(--ebony);
	transition: box-shadow 0.1s;
}
.btnShadow:hover {
	box-shadow: 1px 1px 1px 1px var(--ebony);
}
.btnShadow:active {
	transform: translate3d(0.5px, 1px, 0);
}

:root {
/* CSS HSL */
--antique-brass: hsla(21, 43%, 65%, 1);
--desert-sand: hsla(24, 43%, 76%, 1);
--champagne-pink: hsla(26, 100%, 92%, 1);
--ash-gray: hsla(60, 12%, 68%, 1);
--artichoke: hsla(60, 12%, 60%, 1);
--ebony: hsla(75, 10%, 40%, 1);
/* https://coolors.co/palette/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c */
}
/* ---------------------------------------------------- */

#calculator{
	display: grid;
	/* grid-template-rows: 25px, 50px, repeat(5, auto-fill);
	grid-template-columns: repeat(4, auto-fill); */
	grid-template-areas:
		"logo logo logo lightdark"
		"mem mem mem mem"
		"dsp dsp dsp dsp"
		"clr dvd mlt mns"
		"seven eight nine plus"
		"four five six plus"
		"one two three equl"
		"zero zero dec equl";
	height: 68rem;
	width: 40rem;
	margin: 10rem auto;
	background-color: var(--desert-sand);
	outline: 1rem solid var(--antique-brass);
	border-radius: 8px;
	gap: 1rem;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#memory{
	grid-area: mem;
	text-align: left;
	font-family: 'LCD', sans-serif;
	display: flex;
	justify-content: end;
	align-items: end;
	user-select: text;
	max-width: 38rem;
	min-height: 3.4rem;
	overflow: hidden;
}
#display{
	grid-area: dsp;
	font-family: 'LCD', sans-serif;
	font-size: 6rem;
	height: 9rem;
	max-width: 12ch;
	display:inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	display: flex;
	align-items: center;
	justify-content: end;
	align-self: center;
	user-select: text;
	padding-right: 5px;
	border: 1px solid #6B705C;
	background-color: #B7B7A4;
	/* background-color: #ADD8E6; */
	/* background-color: #87CEFA; */
}


#clr{
	grid-area: clr;
}
#dvd{
	grid-area: dvd;
	font-size: 4rem;
}
#mlt{
	grid-area: mlt;
	padding-bottom: 0.6rem;
	font-size: 3.5rem;
}
#mns{
	grid-area: mns;
	font-size: 5rem;
}
#plus{
	grid-area: plus;
	font-size: 5rem;
}
#equl{
	grid-area: equl;
	font-size: 5rem;
}
#zero{
	grid-area: zero;
}
#dec {
	grid-area: dec;
	font-size: 6rem;
}

#logo{
	grid-area: logo;
	height: min-content;
	font-size: 2rem;
}
#lightdark{
	grid-area: lightdark;
	height: min-content;
	font-size: 2rem;
	text-align: right;
}



/* KEYPAD BUTTON STYLING BELOW */
.keySq{
	width: 84px;
	height: 81px;
	background-color: #FFE8D6;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}
.keyTall{
	height: 180px;
}
.keyWide{
	width: 180px;
}